[2016-02-08 14:50] stevegrunwell opened #1 "Add unit tests"
Distributed plugins tend to benefit from unit tests, especially as we start refactoring this code (some of which is 5 years old).

Work has begun in the feature/tests branch.

[2016-05-20 12:27] kniebremser opened #3 "delete german translation"
You can remove the German translation of the core
It is already maintained over translate.wordpress.org.
The translation is translated to 100% and already available.
https://translate.wordpress.org/projects/wp-plugins/simple-local-avatars

[2018-01-13 02:52] seema84 opened #5 "ssl problem"
images dont work on dashboard in https (frontpage is working)

[2018-01-17 15:08] davisshaver opened #6 "WordPress.org release is out of date"

[2018-01-17 15:09] davisshaver commented on #6
Nvm I see that Github is on `develop`. Is there a release planned?

[2018-08-17 02:39] helen commented on #6
I reverted those commits :) Making some tweaks now though, will likely do a small maintenance release in the coming week or two.

[2018-08-17 02:39] #6 closed

[2018-08-21 17:17] helen commented on #3
Will be fixing this plugin to use language packs shortly.

[2018-08-21 17:17] #3 closed

[2018-09-12 00:11] eflorea opened #11 "No compatibility with plugins to upload files to cloud (Azure Storage, AWS S3 etc)"
The plugin is using wp_handle_upload function to handle image uploads. There are several plugins include internal 10up that hook into "attachment_data" so those are never fired therefor the ability to add your own avatar is broken.

Suggestion is to use media_handle_upload instead of wp_handle_upload.

[2018-09-12 18:45] eflorea commented on #11
PR updated: https://github.com/10up/simple-local-avatars/pull/13

[2018-10-19 21:39] helen opened #16 "Deprecate direct uploads"
Coming out of discussions with @jakemgold, I think we should deprecate direct uploads. Currently, the plugin allows users without the capability to upload media (subscribers and contributors by default) to still upload avatars, with an option to turn that _off_. These do not go into the media library but rather directly into the uploads directory. This creates issues for sites that store attachmen

[2018-10-23 02:48] helen commented on #16
After obsessing some more over this, I think going the route of #14 ends up being the most sane path for now. It's still an extra code path to maintain but it isn't any more burdensome than accommodations for back-compat with existing installations that haven't restricted local avatar uploads (the empty option + no existing option to track whether this is a fresh installation is a tough one, thoug

[2018-10-23 02:48] #16 closed

[2018-10-23 03:00] #11 closed

[2018-10-23 03:00] #5 closed

[2018-11-02 22:16] Log1x opened #18 "Add to Packagist"
Can we get this added to Packagist real quick? Looks like it never was and I'd prefer to bring it in via Composer.

Thanks!

[2019-02-25 19:18] danielbachhuber commented on #18
Because the plugin is on WordPress.org, you can use Composer with WordPress Packagist: https://wpackagist.org/search?q=simple-local-avatars&type=any&search=

[2019-03-05 16:46] jeffpaul commented on #18
@Log1x please see the suggestion above, which should resolve your issue.  Let us know if there's any further questions you have.

@danielbachhuber thanks for the assist on this!

[2019-03-05 17:08] blobaugh opened #20 "Retrieving avatar fails when using WP_Post"
When calling `get_avatar()` and passing in a `WP_Post` object Simple Local Avatars fails to properly pick up the user id. This is because the core `get_avatar()` supports more methods of finding the user id than the plugin's `get_avatar()`.

Example code (where $post is the global on a single view):
```$avatar = get_avatar( $post, '72' )```

You can see all the types supported by core at
https://g

[2019-03-05 17:40] jeffpaul commented on #20
@blobaugh thanks for the feedback, it's much appreciated!  I'm tentatively adding this to our 2.2 milestone, but note we don't have a timeline on that yet as its unplanned.  If you're able to work on a Pull Request, that would be welcomed.  Otherwise, we'll look into reviewing this and any possible resolution.

[2019-04-05 18:06] eflorea opened #21 "Avatar randomnly removed"
Randomly the avatar disappears (the usermeta "simple_local_avatar" is being removed from database).

Tracking it down to https://github.com/10up/simple-local-avatars/blob/develop/simple-local-avatars.php#L97  might be the issue. There is logic in there when getting the avatar to auto-clean it if cannot be found if a WP user is logged in.
So what happens I believe is that get_attached_file fails (f

[2019-04-23 18:05] adamsilverstein commented on #21
This deletion code was added in https://github.com/10up/simple-local-avatars/commit/4d70c3bd9ceda6a7e09532202d1a9d373d8b3743#diff-8a365e46b40b96d3ced40af92233550eR96 without explaination. We should probably remove this as it can unintentionally delete meta if a file read fails for any reason.

[2019-05-03 13:09] adamsilverstein opened #26 "Ensure avatars work correctly on a network install"
#### Description
I would expect that the plugin would work on a network install.

#### Actual results
On a network install, after setting an avatar for my user, WordPress continued to use my gravatar instead.

[2019-05-03 17:05] helen commented on #26
Just so we can be sure to cover all scenarios - was the plugin network activated? Which site were you on?

[2019-05-03 18:38] adamsilverstein commented on #26
Hmm, I thought this was on a single site but having trouble reproducing this at all that way...

What I do see that might be a bug is this:

* network activate plugin
* edit your user profile on network (my sites -> network admin -> users) set an avatar
* switch to different sites, the avatar change only works on the root site, i would expect the custom avatar to work across the network, is that r

[2019-05-07 18:51] #21 closed

[2019-06-16 20:32] ituk opened #31 "avatars are being deleted after thumbnail regenarting"
after regenerating all thumbnails in site and wiping unnecessary images (using Regenerate Thumbnails plugin), some avatars thumbnail where deleted.  so...
1. is there a way to regenerate them? the original files are still there, only the cropped ones are gone.
2. there must a be a way to prevent things like that from happening. maybe registering the avatars as image_size?

[2019-06-17 19:29] jeffpaul commented on #31
@ituk I believe they should be regenerated on demand when that specific size is requested; are you seeing broken avatar images on your site or just that specific file sizes are missing in your "uploads" folder?

[2019-06-18 05:43] ituk commented on #31
thanks @jeffpaul, but i only see broken avatars. i managed to restore most avatars from a backup i had, but i guess the core of the issue is still there.

[2019-06-18 15:48] jeffpaul commented on #31
@ituk thanks for the update.  Mind confirming your environmental info to help us triage this and aim for a resolution in the 2.2 milestoned release?

**Environment information**
 - Device: [e.g. MacBook]
 - OS: [e.g. MacOS 10.14.3]
 - Browser and version: [e.g. Firefox 65.0.1, Chrome 73.0.3683.75, Safari 12.0.3]
 - Restricted Site Access version: [e.g. 7.1.0]
 - Theme and version: [e.g. Twenty Nin

[2019-06-20 02:27] jeffpaul opened #32 "readme updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] add version badge
- [x] add support level section & badge
- [x] add license badge

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
n/a

[2019-06-21 04:06] #32 closed

[2019-06-22 08:55] ituk commented on #31
Environment information

- Device: ISUS Laptop
- OS: Win10
- Browser and version: Firefox 67.0.4
- Theme and version: a custom made theme
- PHP version: 7.2.11
- WP version: 5.2.2
- Other installed plugin(s) and version(s):

-
- Advanced Custom Fields: Star Rating Field - 1.0.2
- Advanced Custom Fields PRO - 5.8.1
- Akismet Anti-Spam - 4.1.2
- All In One SEO Pack - 3.1.1
- Capability Manager Enhan

[2019-10-09 15:23] rmccue commented on #18
We're looking at bundling this with Altis, but we don't use third-party Composer repositories. Is it possible to get this published to the official Packagist repository @jeffpaul? ([Many other 10up repos are already](https://packagist.org/packages/10up/).)

[2019-10-11 01:01] jeffpaul commented on #18
@rmccue seems reasonable, will look to get that set up and confirm when it's published there

[2019-10-11 10:16] rmccue commented on #18
Thanks a bunch @jeffpaul (and thanks for the plugin)!

[2019-10-15 18:45] jeffpaul commented on #18
@rmccue this is now up at https://packagist.org/packages/10up/simple-local-avatars, thanks to @tlovett1 for the assist on this!

[2019-10-15 18:46] #18 closed

[2019-11-26 19:53] jeffpaul opened #35 "Test against WP 5.3"
**Is your enhancement related to a problem? Please describe.**
Now that [WordPress 5.3 is released](https://wordpress.org/news/2019/11/kirk/), we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test Simple Local Avatars on WP 5.3
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified

[2019-12-05 21:50] Waka867 commented on #35
@jeffpaul I will go through this and do some testing asap

[2019-12-06 01:33] jeffpaul commented on #35
Much appreciated @Waka867, thank you!

[2019-12-06 17:13] Waka867 commented on #35
@jeffpaul I've run through each feature on a WP5.3 install and everything looks good. I'm a bit newer so I just want to double check to make sure I understand a few things:

- Because of this situation where nothing needs to be, no version bump needs to happen
- I will need an SVN account in order to use the readme update action?

Thanks for the assistance. I just want to make sure I'm following p

[2019-12-16 18:36] jeffpaul commented on #35
@Waka867 if you're not seeing any issues after testing against WP 5.3, then feel free to submit a PR that updates that value in `readme.txt`.  I'll worry about updating the GitHub Action to ensure this propagates to WordPress.ORG correctly, thanks!

[2019-12-16 20:38] Waka867 commented on #35
@jeffpaul Request entered. If you are able to give a general explanation of how you ended up using the Github action that would be great!

https://github.com/10up/simple-local-avatars/pull/36

[2019-12-19 03:39] jeffpaul commented on #35
@Waka867 I created #37 to update the formatting of our GitHub Actions to the current YML format.  You can read more about our actions here: https://10up.com/blog/2019/wordpress-github-actions-streamline-plugin-deployment/.

I'm waiting on a review for #37, once that's merged in I'll look to merge #36 so we can trigger the auto-deploy to .ORG for the "tested up to" value.

Thanks again for your hel

[2019-12-19 21:45] Waka867 commented on #35
@jeffpaul No problem

[2020-01-07 22:12] jeffpaul commented on #35
Huh, I assumed #38 getting merged would trigger the GitHub Action and deploy the readme.txt change to .ORG.  Not seeing that in the [Actions tab](https://github.com/10up/simple-local-avatars/actions), will have to investigate what's going on there.

[2020-01-13 19:43] dshanske opened #39 "Adapt to More Current Avatar Filters"
**Is your enhancement related to a problem? Please describe.**
Simple Local Avatars hooks into the get_avatar filter. However, there are better options introduced after initial creation of this plugin.

**Describe the solution you'd like**
Introduced in 4.2.0, get_avatar_data returns an array of arguments. This seems better than the #19 solution.

The pre_get_avatar filter seems best. It can check

[2020-01-20 15:00] dinhtungdu commented on #35
Currently, we don't have "new" GitHub actions configuration files on the `master` branch, so the asset doesn't get deployed. Adding actions config to the `master` branch will likely solve this issue. :)

[2020-01-22 14:38] jeffpaul commented on #35
Closed by #38

[2020-01-22 14:38] #35 closed

[2020-01-29 20:05] jeffpaul opened #41 "Option to prevent media deletion"
**Is your enhancement related to a problem? Please describe.**
 We received the following from @zalemcitizen on [WordPress.ORG](https://wordpress.org/support/topic/option-to-prevent-media-deletion/):

I need to remove avatar choice from user but keep the file in Media library because it may be used elsewhere.

**Describe the solution you'd like**

Ability to select "delete" or "remove" local avata

[2020-03-18 13:52] dinhtungdu commented on #26
We got a new report on w.org

See the original report: https://wordpress.org/support/topic/multisite-issue-45/

@helen @jeffpaul Which should be the correct behavior for this case. Should the local avatar be subsite only or network-wide?

[2020-03-20 02:07] jeffpaul opened #42 "Test against WP 5.4"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.4 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test Simple Local Avatars on WP 5.4
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [

[2020-05-28 22:20] tripflex opened #46 "Ability to programmatically set avatar"
Had a client contact me who is trying to set the avatar from this plugin, using a value from one of my plugins -- but it seems that the method to set the avatar is set to private:
https://github.com/10up/simple-local-avatars/blob/develop/simple-local-avatars.php#L329

And there doesn't really seem to be any other easy way to set this from a value outside of the plugin itself

[2020-05-30 02:52] oscarssanchez commented on #20
Hey @blobaugh ,

I made PR #47 for this, can you test this works for you ?

[2020-06-03 03:50] jeffpaul commented on #46
@tripflex welcome to Simple Local Avatars and thanks for the feedback!  If you're able I would love your help on this Issue, would be happy to review a PR for it, and will attempt to provide any assistance you might need.

[2020-06-03 16:07] #20 closed

[2020-06-08 17:17] jeffpaul commented on #42
Closed via #43.

[2020-06-08 17:17] #42 closed

[2020-06-10 16:06] jeffpaul opened #49 "Incompatibility with Elementor"
**Describe the bug**
[Previously reported on WordPress.org](https://wordpress.org/support/topic/it-doesnt-work-with-elementor-pro/#post-12911947):

**Steps to Reproduce**
First report:

It would be good to check why, due to the popularity of Elementor.

Second report:

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - Simple Local Avat

[2020-06-15 13:23] dinhtungdu commented on #31
I can reproduce this problem. The cropped avatars get deleted by Regenerate Thumbnails but the `simple_local_avatar` user meta still exists. Simple Local Avatar gets avatar data from that meta first, then if it doesn't exist SLA will generate a new avatar from the original file.

This will do the trick. By registering an image size, the avatar will get regenerated like other image sizes.

Btw, we

[2020-06-17 10:53] dinhtungdu commented on #31
Here is my idea about clearing the cache. The only place I can think about is under Settings > Discussion. But IMO, that's not a good UX because we go to setting to configure the plugin, not clearing cache or taking action.

cc @jeffpaul @helen

![Screenshot at Jun 17 17-36-34](https://user-images.githubusercontent.com/5423135/84889607-5470a080-b0c3-11ea-94d8-2fae31fe15a5.png)

[2020-06-30 03:28] jeffpaul opened #51 "Release version 2.2.0"
This issue is for tracking changes for the 2.2.0 release.  Target release date: **TBD July 2020**.

### Pre-release steps
- [x] Review, iterate, and merge #40 (or punt to 2.3.0)
- [x] Review, iterate, and merge #48 (or punt to 2.3.0)
~- [ ] Agree on approach for #31, submit PR, review, iterate, and merge PR (or punt to 2.3.0)~ punted to next release
~- [ ] Agree on approach for #26, submit PR, rev

[2020-08-06 03:27] #46 closed, assigned to tripflex

[2020-08-10 18:09] kblizeck opened #55 "Remove thumbnail image when "Delete local avatar" chosen"
**Is your enhancement related to a problem? Please describe.**
Once an avatar is loaded, if I wish to remove the avatar, I don't receive any notification that removing it (clicking "Delete local avatar") worked. It does remove it, but the thumbnail doesn't disappear on click, and the Update Profile button remains disabled.

**Describe the solution you'd like**
Remove thumbnail of previous Avatar o

[2020-08-10 20:58] jeffpaul commented on #55
@kblizeck I just tested myself with only Simple Local Avatars installed and it works as you described in the desired solution.  Can you share the Site Health Info from your site?  It seems like maybe there's a conflicting plugin or something else that may be causing this issue for you.

[2020-08-10 21:15] kblizeck commented on #55
Hi @jeffpaul - here's my Site Health Info

[code]

[2020-08-11 02:18] jeffpaul opened #56 "Test against WordPress 5.5"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.5 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Simple Local Avatars on WordPress 5.5
- [ ] open issues for any incompatibilities noted in testing
- [x] resolve issues identified in testing
- [x] bump "tested up to" vers

[2020-08-11 21:22] ammon-lockwood opened #57 "Implement `get_avatar_url` the same as `get_avatar`"
**Is your enhancement related to a problem? Please describe.**
Yes, currently you can get the avatar from simple local avatars by calling `get_avatar` and passing the appropriate arguments. We would like to be able to do the same thing with `get_avatar_url`. Specifically in our case the issue is that the WPGraphQL plugin uses the `get_avatar_url` to populate the `avatar` field when requesting user

[2020-08-11 21:25] jeffpaul commented on #57
@sumnercreations does https://github.com/10up/simple-local-avatars/pull/40 resolve this for you?

[2020-08-11 23:23] ammon-lockwood commented on #57
@jeffpaul I'm looking at that PR and it does _sounds_ like what we need, however, when I checked out that branch and tried to query for the avatar any user that has a local avatar has `null` returned. Perhaps I should comment over there as well.

[2020-08-12 05:08] dinhtungdu commented on #57
@sumnercreations After you check out that branch, do the local avatars display in the user list of the admin area?

Update: I tested the #40 again and both `get_avatar` and `get_avatar_url` are working on my end. Can you provide more information about your set up so we can debug your issue better?

[2020-08-12 17:57] ammon-lockwood commented on #57
@dinhtungdu you're right I do get the correct URLs as well with the default functions. I've found the issue and I'll post on #40

[2020-08-12 23:52] ghost commented on #49
Also having this issue and have some insights.

Elementor Pro Author Box uses the `get_avatar_url` function in author-box.php:717. It looks like the Simple Local Avatars plugin is only looking for `get_avatar`.

That's where I've gotten with it and the fix likely lies in modifying `get_simple_local_avatar` to handle `get_avatar_url`.

Can @jeffpaul (Hi Jeff) take this home from here?

[2020-08-13 03:31] dinhtungdu commented on #49
@johnsicili Can you please test #40 to see if it fixes this issue?

[2020-08-13 04:00] ghost commented on #49
@dinhtungdu That fixed the issue! Thank you! 🙏

[2020-08-16 22:40] Shirkit commented on #41
I'm having the opposite problem, where I hit the delete local avatar and the file does not get deleted.

[2020-08-16 23:24] Shirkit opened #58 "Apply a proper maximum file size restriction"
**Describe the solution you'd like**
I'd like to be able to set a maximum upload size (100kb for example) so that my users don't upload a 10mb image.

-------------------

### Underlying problem

This has been suggested and appears that there's some code to deal with it: https://github.com/10up/simple-local-avatars/blob/e058862b7b9633ebf416b894ffac4210efa7f60e/simple-local-avatars.php#L373

But it

[2020-08-19 14:36] jeffpaul commented on #58
@Shirkit welcome to Simple Local Avatars and thanks for the well-thought-out feedback, its greatly appreciated!  A properly functioning filesize limit seems reasonable, though I've yet to double check the items you've asserted in your comment, but I'd welcome a PR to this affect and we can iterate on things there until its ready for merge.

[2020-08-19 14:39] jeffpaul commented on #41
@Shirkit it looks like your issue is more aligned with what's been described in #55, you might subscribe to that issue instead and follow the discussion/triage/resolution there... thanks!

[2020-08-19 17:46] jeffpaul commented on #55
@kblizeck I just ran another local test, relatively close to your setup (see my Site Health Info below) and things worked as expected.  Can you check and see if there are any console errors that display on that page?

[code]

[2020-08-19 17:53] kblizeck commented on #55
@jeffpaul There are no console.log errors. Are you running a multisite setup?

[2020-08-19 17:58] jeffpaul commented on #55
@kblizeck no, I wasn't, I missed that in your info.  Are you using sub-directories or folders?  Is that user in the initially created site or the second one created?

[2020-08-19 18:16] #39 closed

[2020-08-19 18:16] #49 closed, assigned to nobody

[2020-08-19 18:16] #57 closed, assigned to nobody

[2020-08-19 18:56] kblizeck commented on #55
@jeffpaul I'm sorry - I didn't include that in the original issue!

- Multisite install - subdomain setup
- The same issue occurs when editing the Avatar either through the Network Admin - Users, or through the initially created site Dashboard Users.
- I only have one site installed currently, as we haven't started development on the second.
This

[2020-09-02 02:34] jeffpaul commented on #55
@kblizeck I just tested this in a multisite subdomain setup and have not been able to replicate your issue.  Mind sharing the image you're testing with in case there's something about it?  I also tried to replicate with a user with `@` and `.` in the username to even more closely match your screencast, but WP limits usernames to only lowercase letters and numbers so assuming you're creating that u

[2020-09-07 19:28] kblizeck commented on #55
@jeffpaul Sorry to send you down a rabbit hole! After doing a fresh install of my multisite, your plugin is working exactly as expected.

Thank you so much for troubleshooting, and being so communicative!

[2020-09-07 19:28] #55 closed, assigned to jeffpaul

[2020-09-08 18:14] jeffpaul commented on #26
My preference is that users would have to upload an avatar to each network site and not that uploading to one network site would make it the avatar for other network sites for the same user.  I can see that for some people who want to use the same avatar across sites that this would be mildly inconvenient for them to have to upload the same avatar for each network site.  However, the case I'd like

[2020-09-08 18:19] jeffpaul commented on #31
@dinhtungdu as we're still working on crafting the approach here, I'm going to move this out of the current milestone so we can move more quickly towards releasing version 2.2.0.

[2020-09-17 12:30] campiotto opened #60 "Add simple shortcode to upload image avatar any page"
**Is your enhancement related to a problem? Please describe.**

There is only one plugin in the wordpress repository that makes a shortcode available for uploading the avatar and does it in a very polluted way. It would be great to have this implemented in your plugin which is minimalist.

**Describe the solution you'd like**

An elegant solution, with no filament and pollution, the user just plac

[2020-09-30 14:40] #1 closed

[2020-10-05 20:24] t-lock opened #61 "Breaks wordpress functions: get_avatar and get_avatar_url"
Thanks for the great work on this plugin!

However, I have encountered a fairly critical bug:

**Describe the bug**
The core wordpress function `get_avatar()` works nicely with simple-local-avatars, unless you need to use additional functionality like adding a class or another custom attribute.

**Steps to Reproduce**
1. Use theme code: `<?= get_avatar(get_current_user_id(), 96, "", "", array('cla

[2020-10-05 20:29] jeffpaul commented on #61
@t-lock we're working to finalize a release, including work on updating to current avatar filters (see #40).  If you want to test that branch or the current develop branch to let us know if that resolves your issues, that would be great.  You can otherwise wait for the next release and test that version.

[2020-10-06 03:06] dinhtungdu commented on #61
With change introduced in #40, SLA doesn't override the `get_avatar` function anymore but uses the core function instead. So any extra attributes passed to the function will be output.

I tested the code above, and here is the output html when simple local avatar is activated, the `data-id` is present:
[code]

[2020-10-06 19:54] t-lock commented on #61
@jeffpaul awesome! thanks for the quick reply. I'd be happy to help with testing, but looks like @dinhtungdu has beat me to it.

Closing this issue.

Thanks again for your work on this plugin!

[2020-10-06 19:54] #61 closed, assigned to jeffpaul

[2020-10-14 17:43] jeffpaul commented on #60
@campiotto can you share some more details on the type of page that you'd expect this functionality to appear on and the broader user story that this request is part of?  I'd like to ensure we understand the larger issue you're trying to solve so we take that into consideration... thanks!

[2020-10-14 18:24] campiotto commented on #60
Hi Jeff, let's go!

I will tell you my real scenario and you will see that there is a very needy audience needing `feature in your plugin.

Today there are many websites that use page builders, they are a little limited when referring to the "my account" page, it is basically impossible through a page builder for a user to get a field to change their profile picture to use in the website comments

[2020-10-14 18:50] jeffpaul commented on #60
@campiotto ok, I see what you're trying to achieve.  May also be something to consider here as a block in the block editor as once Full Site Editing is fully launched being able to place a block like this would also cover a similar functionality as a shortcode.

[2020-10-14 18:59] campiotto commented on #60
I believe that if this works as a block editor widget, it will not work on other editors, I still think that the most minimalist way is a shortcode because with a class configured for it, it is possible to adapt it to any editors.

[2020-10-26 07:25] dinhtungdu commented on #56
I found an issue in the WordPress setting which I fixed in https://github.com/10up/simple-local-avatars/pull/52/commits/552871070f909a114874dba93bc1d7ec03ab46f3, otherwise, the plugin works with 5.5.1.The tested up to version is updated in https://github.com/10up/simple-local-avatars/pull/52/commits/a9e2fe5200c51c878f5ae1b74efa7587b905992c.

[2020-10-26 14:01] #56 closed, assigned to dinhtungdu

[2020-10-26 19:13] jeffpaul commented on #51
Released: https://github.com/10up/simple-local-avatars/releases/tag/2.2.0

[2020-10-26 19:13] #51 closed, assigned to jeffpaul

[2020-11-09 19:21] jeffpaul opened #64 "Avatar support when moving hosts / changing domains"
**Is your enhancement related to a problem? Please describe.**
[Originally reported on WordPress.org support forum](https://wordpress.org/support/topic/make-urls-immune-to-host-changes/):

**Describe the solution you'd like**
TBD

**Designs**
n/a

**Describe alternatives you've considered**
none

**Additional context**
n/a

[2020-11-09 19:29] jeffpaul opened #65 "Add ability to crop images before setting as avatar"
**Is your enhancement related to a problem? Please describe.**
[Originally reported on WordPress.org support forum](https://wordpress.org/support/topic/manual-crop-or-use-custom-media-size/):

**Describe the solution you'd like**
Follow the core flow of supporting crop when selecting an image for an avatar.

**Designs**
n/a

**Describe alternatives you've considered**
none

**Additional context**

[2020-11-30 19:09] jeffpaul opened #66 "Test against WordPress 5.6"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.6 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Simple Local Avatars on WordPress 5.6
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to" vers

[2021-02-08 22:31] #66 closed, assigned to jeffpaul

[2021-02-10 12:31] Soean commented on #26
We have just noticed the problem ourselves. When an avatar is saved, the media ID is used. But this media ID is not available in other sites in the multisite network. Maybe in multisite we add the site id to the meta_key? Like `simple_local_avatar_SITEID`

[2021-02-17 02:02] jeffpaul commented on #26
@helen @dkotter @dinhtungdu any thoughts on @Soean's note above as a possible option for how to resolve this issue?

[2021-02-22 15:03] campiotto commented on #60
Hi Jeff, how are you? Was this feature added?

[2021-02-23 10:19] dinhtungdu commented on #26
Yeah, it's possible to solve the issue using Soean's approach. And I agree that users need to upload an avatar for each site they have access to, this prevents potential confusion if we use one avatar for all sites.

[2021-03-03 14:44] jeffpaul commented on #60
@campiotto no, but if you want to work on a PR then we can review and look to get that into a future release.

[2021-03-03 14:48] campiotto commented on #60
I don't know how to develop this.

[2021-03-03 14:49] jeffpaul commented on #26
@Soean would you want to work on a PR that resolves this as you suggested?

[2021-03-08 05:23] wolvyreen commented on #60
This shortcode was the ONLY reason I ditched Simple Local Avatar for Basic User Avatars.  Basic User Avatars has a shortcode but is fairly limited.  It works perfectly for when you have customised profile update pages that you want the end user to upload a profile picture but not have access to the WordPress dashboard.

We run a membership site and they need to upload their own profile pics WITHOU

[2021-03-08 15:23] jeffpaul commented on #60
@wolvyreen is this something you'd want to work on a PR to add to Simple Local Avatars?

[2021-03-11 03:59] jeffpaul opened #70 "Test against WordPress 5.7"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.7 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Simple Local Avatars on WordPress 5.7
- [x] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" vers

[2021-03-11 11:56] planetahuevo commented on #60
Considering that https://github.com/strangerstudios/basic-user-avatars/ is a fork of this one, the code should be there somewhere.
I am not a developer so no idea where to start.
But I agree this will be a great addition to the plugin.

[2021-03-11 12:54] wolvyreen commented on #60
Same seat as planethuevo. Not a developer but as he mentioned the shortcode code should be in the basic user avatars plugin that you could maybe ask stranger studios if you could credit them?

What I would also like to see is a file size limitation on the plugin because otherwise people can upload MASSIVE pictures and effect your page loads

[2021-03-11 17:23] helen commented on #60
Hello! Just to make sure I'm understanding the request, it's for there to be some kind of front end upload functionality bundled with the plugin? Specifically to the technical side of the request, I would decline to develop new shortcodes for a number of reasons.

While I empathize with what you're trying to accomplish, I'm currently of the mind that this is outside the scope of this plugin. **Sim

[2021-03-11 17:23] #60 closed, assigned to nobody

[2021-03-11 17:23] jeffpaul commented on #60
@campiotto after talking through this internally our recommendation would be to utilize a separate plugin that, like Simple Local Avatars does, hooks into the core avatar function and provides a shortcode for your use.  This otherwise is not likely something that we'll look to add to Simple Local Avatars as its outside the core focus that we have for our plugin:

Thank you for sharing your feedbac

[2021-03-11 17:37] planetahuevo commented on #60
"Simple Local Avatar's goal is to augment core functionality, not create its own. "
I am not sure how can you "augment"  without creating new stuff...
But I understand you are not interested on this particular functionality (for the reasons outlined, difficulty and scope, which are valid reasons). No problem at all with that. :)
Thanks for considering it.

[2021-03-11 18:02] helen commented on #26
I don't think this plugin has had any deliberate thought put into multisite workings :) I think we probably need to consider expanded functionality in order for this to feel like it works "correctly". My initial thoughts are to have this kind of mirror the way Restricted Site Access handles things - network-level settings if network activated, where you can decide if the settings should be enforce

[2021-03-11 18:03] helen commented on #65
I have no idea how the core crop workflow works with headers and icons but sure, seems reasonable to try to reuse that :)

[2021-03-11 18:34] bluesteamhost commented on #60
I agree with @planetahuevo.

You can't augment something without adding to it.  The very definition of augmenting is to make (something) greater by adding to it.

Just Google "augment definition" and you will get the idea.

You also made it sound like it's so much work to implement and yet, Stranger Studios did it simply and effectively without issues in the fork **Basic User Avatars**.

Anyways..

[2021-04-06 14:17] dkotter commented on #26
I've put together a PR (#72) to take a stab at addressing this. That PR adds new network settings and those settings can either be used as the default or enforced across all sites (similar to Restricted Site Access). There's also a new setting to choose whether avatars are shared or unique across sites (default right now is shared). Let me know if anyone has thoughts on this approach. Thanks!

[2021-04-09 08:36] ankitguptaindia opened #73 "Preview is not getting generated for Subscriber user"
**Is your enhancement related to a problem? Please describe.**

Subscriber user is unable to see the preview of avatar after uploading in profile. They have to Save setting and then can see the preview.

**Describe the solution you'd like**

Would be great if allow same behaviour as other user roles like Editor, Admin

**Additional context**

This issue is causing due to user role capability as Su

[2021-04-09 08:41] ankitguptaindia commented on #70
@jeffpaul

I checked this plugin with WordPress 5.7 and this is working expected as per description available on readme.

Found a concern related to UX enhancement https://github.com/10up/simple-local-avatars/issues/73 but not related to WP 5.7 update.

We can move ahead for releasing plugin for WP 5.7 compatibility update.

[2021-04-24 02:58] #70 closed, assigned to jeffpaul, ankitguptaindia

[2021-04-29 00:14] scheinercc commented on #26
I was wondering if there is an internal release date yet for version 2.3.0 as PR 72 has been marked for that release?

[2021-04-29 01:07] jeffpaul commented on #26
@scheinercc no immediate timeline, though in looking at #72 it looks like its in need up a slight update before it would be ready to merge.  Suffice to say it doesn't look like a near term timeline, but if that's of a particularly urgent or important need for you let me know.

[2021-04-29 01:25] scheinercc commented on #26
Thanks for the quick reply Jeff. It is a blocker for me at the moment. I am using the author avatars on three subsites and it took me a while to realise that they get deleted from one site when updating the other. I then got here right around the time when @dkotter and was waiting for the patch to land ;) Now the question is, if it is still worth waiting a little longer for it to land in a new rel

[2021-06-09 18:36] mas31550 commented on #26
Hi I was wondering if there's any update to PR 72 being merged in to next release? This bug is a blocker for a particular project and this fix would be great!

[2021-06-09 22:05] jeffpaul commented on #26
@mas31550 I'll look to review that with the team next week, no firm commitment on if that PR is ready but once it or any replacement one is I'd say we'd likely release once one is merged as it is a pretty important update for folks.  Stay tuned for updates here, thanks!

[2021-06-14 07:51] #73 closed, assigned to dinhtungdu

[2021-06-21 19:26] jeffpaul opened #78 "Ability to set default avatar"
**Is your enhancement related to a problem? Please describe.**
Noting the following received via [10up.com](https://10up.com/plugins/simple-local-avatars-wordpress/comment-page-10/#comment-1126022):

An option to set the Default image used if someone has not yet uploaded an image.

**Describe the solution you'd like**
We'll want to consider the following:
- [ ] is this sort of feature worthwhile i

[2021-06-28 14:02] dinhtungdu commented on #78
Here is my UI idea if we decide to implement this feature:

![image](https://user-images.githubusercontent.com/5423135/123649403-ea511680-d853-11eb-8de4-dc9bb30f8328.png)

[2021-06-30 01:37] jeffpaul commented on #78
@dinhtungdu works for me!

[2021-07-01 20:36] jeffpaul opened #79 "Test against WordPress 5.8"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.8 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Simple Local Avatars on WordPress 5.8
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to" vers

[2021-07-04 21:40] henrywright commented on #26
If user profile information is shared network-wide, such as name and description, would it make sense to share the same user avatar network-wide?

[2021-07-14 13:57] jeffpaul opened #80 "Allow import from WP User Avatar / ProfilePress"
**Is your enhancement related to a problem? Please describe.**
As seen on [WP.org](https://wordpress.org/support/topic/move-from-wp-user-avatar/#post-14657633), folks are migrating to Simple Local Avatars from WP User Avatar / ProfilePress and looking for help migrating in their users avatars.

**Describe the solution you'd like**
Leverage [Gist](https://gist.github.com/philipjohn/822d3521a95481f6

[2021-07-21 21:32] phpbits commented on #79
@jeffpaul  I briefly tested the plugin in single and multi-site WordPress installation using version 5.8 and I did not experience any issues. The user avatar is working as expected. Thanks!

[2021-07-24 16:50] #79 closed, assigned to jeffpaul, phpbits

[2021-08-02 15:17] worldsdream commented on #78
This is the only feature that I need. Thank you.

[2021-08-26 20:35] claytoncollie commented on #80
Hi @jeffpaul  @helen Sent me this issue and said it would be a good one to get my feet wet with the OSS practice. Below is how I would tackle this issue. Please send me your direction and I'll work on this over the next week or so :)

- [ ] Write function from gist linked in main issue to migrate from Wp User Avatar
- [ ] Wrap script into wp-cli command `wp simple-loca-avatars migrate wp-user-avat

[2021-08-26 20:51] jeffpaul commented on #80
@claytoncollie the other part to consider is functionality in multisite, as I got a report that the gist wasn't working on multisite so you'll want to check that as you get into crafting the function.  Otherwise your approach sounds good! 🚀

[2021-09-03 12:33] ajmaurya99 commented on #65
Hey @helen @jeffpaul

I am not sure what is the correct approach for making the crop feature work, but I have tried to implement the image crop feature following this stack overflow thread - https://wordpress.stackexchange.com/questions/281760/using-media-uploader-to-select-image-of-specific-size-enforce-cropper/302962#302962

WIP Feature - https://share.getcloudapp.com/eDuR5Qjo [This is still not

[2021-09-03 14:47] helen commented on #65
The user should be guided through the crop process - it is okay to me to have it be in the media modal, but it needs to be square only and enforce cropping after selection even if it's already a square image. The site icon in the customizer works this way and seems mostly ideal to me, or any number of avatar uploads around the web can serve as inspiration.

[2021-09-09 12:34] Mahyulan commented on #78
Yes, the solution would be great.
Only waiting to be implemented ;-)

[2021-09-21 21:32] sparkbold commented on #31
I'm also running into the issue of missing profile image. Try to implement a way to catch this before user start complaining. Is there some way to do this? I try to call `get_avatar($user_id, 70)` for both user with/without uploaded image. And the output is always returning the image from gravatar.com url not actual local image url.

something like:
[code]

[2021-10-14 16:32] pixelbart commented on #78
Something like this would be cool. Then you don't have to upload an image, but create images with the users initials.

![image](https://user-images.githubusercontent.com/5339107/137358995-8bb514e1-35c3-4a48-9bf9-ba11a1220c2c.png)

Translation:

* Gravatar deaktivieren = Disable Gravatar
* Textfarbe = Text color
* Hintergrundfarbe = Background color
* Vorschau = Preview

[2021-10-14 21:37] worldsdream commented on #78
I needed a replacement for  wp user avatar plugin. This feature was the only one that I was missing.

It’s taking a lot of time to implement is so I found a great alternative for wp user avatar:

https://wordpress.org/plugins/one-user-avatar/

[2021-10-28 20:02] thrijith commented on #31
Hi @dinhtungdu I am starting to look into it, I am not getting where the image sizes are coming from to add it as an image size so it is generated on regenerate, also what changes is the `Clear cache` meant to do?

[2021-11-08 02:21] andrerds opened #86 "Upload image / photo, rest worpress api is possible?"
Hello, is it possible to send photos through wordpress rest api to a specific endpoint?
I see that in return when doing get to users/1
I have the return of simple_local_avatar as an object, but I don't know how to send the image.
I'm using Ionic/Angular on the front.
Can you guide me?

[2021-11-08 09:13] dinhtungdu commented on #31
@thrijith I'm sorry for this late reply! The avatars are generated on the fly so there isn't any image size to register. The cropped avatar URL is stored as the user metadata. After regenerating thumbnails, all thumbnails are deleted including ones cropped by Simple Local Avatar. But the URLs in the user meta aren't deleted, that's why we have the broken avatars.

The idea behind the `Clear cache`

[2021-11-09 00:05] dkotter commented on #86
@andrerds Thanks for the question! Yes, you can make a POST request to the default users endpoint and within that request, send a `simple_local_avatar` object with the image input data and it will get set as the avatar. See https://wordpress.org/support/topic/post-avatar-using-rest-api/#post-14061014 for more info

[2021-11-10 02:21] jeffpaul opened #87 "Add Settings link after activation and associated settings screenshot + copy"
**Is your enhancement related to a problem? Please describe.**
[Originally reported on WordPress.org](https://wordpress.org/support/topic/nice-work-but-needs-improvement/):

**Describe the solution you'd like**
After installing SLA, there's no direction of where to find any admin settings.  Let's look to add a "Settings" link under the plugin name on the Installed Plugins page (e.g. wp-admin/plugi

[2021-11-13 22:06] andrerds commented on #86
Hey man, thanks a lot, I'll do the tests.

[2021-11-16 21:27] dkotter opened #88 "Avatar rating text is not translated properly if a user has a custom language set"
**Describe the bug**
Reported [here](https://wordpress.org/support/topic/translation-of-ratings-doesnt-work-for-user-language/). The Avatar Rating text is translated properly if a site language is set but not if a user language is set.

Looking into it, I believe it's related to this: https://make.wordpress.org/core/2016/11/07/changed-loading-order-for-current-user-in-4-7/. Basically where we have

[2021-11-17 14:33] ActuallyConnor commented on #88
Hey @dkotter here's a simple PR I made to fix this issue [https://github.com/10up/simple-local-avatars/pull/89](https://github.com/10up/simple-local-avatars/pull/89)

Let me know if you have any questions 😄

[2021-11-23 17:21] #88 closed, assigned to ActuallyConnor

[2021-12-08 18:26] rahulsprajapati commented on #87
@jeffpaul

I've attached screenshot for plugin settings page for highlight + crop/focus here:

- [screenshot-2.png](https://user-images.githubusercontent.com/10358350/145263011-356c8d26-3750-4727-acb2-79ba1f5b3703.png)

[2021-12-10 18:45] #31 closed

[2021-12-23 09:42] brm-ryd opened #93 "Ask: when set avatar image - image not shows (media / upload)"
Hi,

Apologies, are there anything i can check when i use the simple-local-avatars when set the image avatar for the profile user it wont show for the image instead only white background like below image screenshot
![image](https://user-images.githubusercontent.com/9689138/147221072-93134ddc-72fc-4638-8d10-cd7b5c72e31c.png)

* When i used custom theme does it a must to use get_avatar function php

[2022-01-05 13:23] sudip-md opened #95 "Test against WordPress 5.9"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

- [ ]  test WP New Relic on WordPress 5.9
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ]  bump "tested up to" version
- [ ] if code changes needed due to incompatibilities, ship a plugin release, otherwise use "Plugin asset/readme upda

[2022-01-05 15:30] claytoncollie commented on #95
I've always wanted a workflow like this as a standard github action so that I could test an existing plugin against new versions of WP and if nothing is broken, release a new version or as this ticket says, use the `Plugin asset/readme update` action. I'll be follow this ticket to see how it goes.

[2022-01-05 15:56] faisal-alvi commented on #93
@brm-ryd Thank you for taking interest in the plugin and asking questions!

To exactly detect the issue and fix it, can you please provide/answer the following information/questions?

1. Can you please share the file you tried to upload?
2. On which WP version did the issue occurred?
3. And what version of the plugin?

You can also use `get_avatar_url()` to get the avatar URL.

Yes, it is uploaded

[2022-01-05 20:22] jeffpaul commented on #95
@claytoncollie we've started to roll out end-to-end tests using Cypress and using both the latest WP version and WP trunk (plus the minimum WP version stated by the plugin).  There's probably some additional GH Action work that could be done that further automates the issue/PR handling here when new major WP releases ship, but probably worth discussing that in a separate issue (perhaps in the read

[2022-01-06 02:15] brm-ryd commented on #93
@faisal-alvi ,

- the file which i choose uploaded is some regular image which its uploaded correctly in the uploads directory & also i had tested by using existing file from media file as well (example as attached
![goldfish](https://user-images.githubusercontent.com/9689138/148317120-f468a828-30ca-47cd-92f2-3a43195185fe.jpg)
)
- Wordpress version 5.8.2
- Plugin version 2.2.0
- Php version 7.3 on

[2022-01-06 05:22] sudip-md commented on #95
I have tested this plugin in WordPress 5.9 version and it is working fine.

WP version : 5.9
Plugin version : 2.2.0
CC: @ankitguptaindia @jeffpaul

[2022-01-06 08:54] faisal-alvi commented on #93
Thank you for providing the details.

I have tried to upload your image in the same configuration you shared and the file was successfully uploaded without any issues.

![SLA-93-image-uploaded](https://user-images.githubusercontent.com/25176325/148355311-08e9eb9b-5639-47c7-8178-9bbfa35e8b00.png)
[image link](https://www.screencast.com/t/dBH6KYwwGY)

Can you please deactivate all the other plugins

[2022-01-07 02:57] brm-ryd commented on #93
Sorry @faisal-alvi , i had been disable all plugins and then enable only the simple-local-avatar but still same like attached - only blank display image when i choose image for one of the user .
![image](https://user-images.githubusercontent.com/9689138/148484146-ec92f7be-e5a4-4b4c-9a06-1b511864c179.png)

Is there anything i should add in some themes functions.php for testing this event ?

[2022-01-07 02:58] jeffpaul commented on #93
@brm-ryd what does that admin notification say at the top of the screen?  Are you seeing anything in the browser console that might tip off what's not allowing the uploaded avatar to display?

[2022-01-07 03:02] brm-ryd commented on #93
Sorry @jeffpaul  uploaded image working as its really stored / created in uploads directory,  i dont see any notifications though after i choose the image (both from media existint / uploads new)

[2022-01-07 03:06] jeffpaul commented on #93
@brm-ryd are you using something like Azure or other storage service to offload your media files?

[2022-01-07 03:07] brm-ryd commented on #93
no @jeffpaul - only host the in the regular vps 1 instance for this wordpress site

[2022-01-07 03:09] jeffpaul commented on #93
@brm-ryd what role is the user you're trying to set that image?

[2022-01-07 03:11] brm-ryd commented on #93
@jeffpaul Currently i login with administrator role to set the image of user and the users i tried to set the image profile is regular & my admin account

[2022-01-07 03:13] jeffpaul commented on #93
@brm-ryd is the avatar displayed on the frontend of your site properly?

[2022-01-07 03:24] brm-ryd commented on #93
no @jeffpaul, as in frontend backend it just like blank (no standard gravatar default image as well)
![image](https://user-images.githubusercontent.com/9689138/148486452-b5c04751-4389-43d3-a74e-3e80ecfd3070.png)

[2022-01-07 06:32] faisal-alvi commented on #93
@brm-ryd If feasible, can you please create a dummy user for us to check into your site so we can investigate in detail?

[2022-01-07 15:14] brm-ryd commented on #93
Sorry @faisal-alvi - i'll need to ask another person for this, does regular user should be okay / need an administrator role ?

[2022-01-07 15:35] faisal-alvi commented on #93
@brm-ryd administrator role would be best as we would not face any capabilities issue while testing.

[2022-01-14 08:59] ankitguptaindia commented on #95
@jeffpaul This Plugin is ready for a WP 5.9 Compatibility Version Bump update. Thank you!

[2022-01-25 15:48] jeffpaul commented on #93
@brm-ryd can you confirm your browser version, operating system version, theme version, and any other active plugin versions?  Our best guess is that there's a plugin conflict, but hard to triage without being able to properly replicate your environment... thanks!

[2022-01-25 16:21] brm-ryd commented on #93
Sorry @faisal-alvi  & @jeffpaul , im not yet get the confirmation regarding access to the wp-admin for you, btw below are the details i can share to you - i only can think something related custom theme / plugin which like you said possible conflict
- my browser version (chrome Version 97.0.4692.99 (Official Build) (64-bit)), i believe browser not the issue as i had tested simple-local-avatars in

[2022-01-26 04:30] #95 closed, assigned to jeffpaul

[2022-01-26 15:44] faisal-alvi commented on #93
@brm-ryd thanks for sharing the details. I have again tested it in Safari, Chrome, and Firefox, it is working without any issues.

As per your mentioned note, closing this ticket.

[2022-01-26 15:44] #93 closed, assigned to faisal-alvi

[2022-02-09 20:51] #65 closed, assigned to ajmaurya99

[2022-02-16 08:12] channchetra opened #99 "Local Avatar with S3 Offloaded not correct image url"
### Describe your question

Hello,
I'm using Simple Local Avatar with all media offloaded to S3 with [WP Offload Media by DELICIOUS BRAINS](https://deliciousbrains.com/wp-offload-media/) after offloaded all media all image in avatar are broke I'm inspected in img tag of avatar it's show something like this:
`<img alt="" src="https://ams.com.kh/central/s3://central/media/Heng-Sambath-116x116.png" s

[2022-02-22 03:36] #87 closed, assigned to rahulsprajapati

[2022-02-22 03:41] #80 closed, assigned to dkotter, claytoncollie

[2022-02-26 03:55] channchetra commented on #99
I found someone has that problem too on [wp support forum](https://wordpress.org/support/topic/wp-offload-s3-with-avatars/) but there are no solution 😥

[2022-03-01 09:02] faisal-alvi opened #100 "Crop area does not appear sometimes."
### Describe the bug

The avatar crop feature was recently introduced in #83. It is noted that the crop area does not appear sometimes. Also noticed the behavior - when changing a window size slightly, the crop area appears!

### Steps to Reproduce

1. Upload a wide image and keep the window size narrow or vice versa.
2. Try to select and crop the image.
3. The crop area does not appear.
4. Slight

[2022-03-04 06:58] channchetra commented on #99
I'm using Lite version of WP Offload Media https://wordpress.org/plugins/amazon-s3-and-cloudfront/

[2022-03-04 10:32] faisal-alvi commented on #99
@channchetra thank you for reporting the issue. I would like to help you asap but unfortunately, the option to offload existing media to s3 is not available in the free version of the "WP Offload Media" plugin.

When I upload a new avatar, it uploads to s3 and also loads correctly on the site. It seems like the issue is with the existing avatars. I would not be fully able to regenerate the issue u

[2022-03-04 10:47] #26 closed

[2022-03-04 21:47] jeffpaul commented on #99
@faisal-alvi could https://github.com/deliciousbrains/wp-offload-ses-lite be an option for testing to see if the issue occurs there?

[2022-03-04 21:47] jeffpaul commented on #99
@mattgrshaw pinging you here on this WP Offload Media compat issue, curious if you're able to help triage given your access to the private paid version?

[2022-03-07 05:52] channchetra commented on #99
Thank @faisal-alvi for help yes now I'm using that same way you mention to solve the problem. Hope we have better solution soon

[2022-03-07 16:29] mattgrshaw commented on #99
Thanks for the heads up @jeffpaul. Pinging @ianmjones / @eriktorsner here, they'll be much better equipped to help out with this one.

[2022-03-07 17:05] eriktorsner commented on #99
Thanks for the ping @mattgrshaw.

I'm setting up a local test for this later tonight to tomorrow morning. Stay tuned.

[2022-03-09 13:27] ajmaurya99 commented on #100
Hey, @faisal-alvi @jeffpaul, It looks like an issue with the WordPress crop feature itself, I tried updating the site icon in the customizer panel, and I see the same problem happening here too.

If I try to use a larger image in a smaller window size, the crop screen doesn't appear, and once I resize the window, the crop screen appears again.

SS - https://share.getcloudapp.com/8LuD4LWm

Could yo

[2022-03-11 14:04] faisal-alvi commented on #100
@ajmaurya99 thanks for the report. I have tested it as per your instructions and the crop issue is occurring in the customizer too.

![SLA-100](https://user-images.githubusercontent.com/25176325/157882498-264ec5c9-20bf-46f8-be44-5ee334bbb470.gif)
[image link](https://www.screencast.com/t/flEYfTayuJl)

[2022-03-11 16:47] jeffpaul commented on #100
Related: https://core.trac.wordpress.org/ticket/55377

[2022-03-25 03:56] faisal-alvi opened #104 "Setup Cypress E2E tests"
### Is your enhancement related to a problem? Please describe.

Setup Cypress for E2E tests by using the [Cyress setup tool](https://github.com/10up/cypress-wp-setup). Also, add Github actions.

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-14 10:36] faisal-alvi commented on #100
@jeffpaul can you please follow up on the core ticket so this gets resolved sooner?

[2022-04-14 10:39] faisal-alvi commented on #99
@eriktorsner just following up to know if you get enough time to look at this issue?

[2022-04-15 09:27] faisal-alvi opened #106 "Release version 2.3.0"
### Is your enhancement related to a problem? Please describe.

This issue is for tracking changes for the 2.3.0 release. Target release date: **TBD April 2022**.

### Pre-Release steps

- [x] Merge #103.

### [Release steps](https://github.com/10up/simple-local-avatars/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/2.

[2022-04-15 13:26] vikrampm1 opened #108 "Test against WordPress 6.0"
Is your enhancement related to a problem? Please describe.
Once WordPress 6.0 is released, we'll want to test Simple Local Avatars to see if any incompatibility issues arise.

Describe the solution you'd like

- [ ] test Simple Local Avatars on WordPress 6.0
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [

[2022-04-20 09:18] ajmaurya99 commented on #108
I have tested this plugin in WordPress 6.0 version and it is working fine.

WP version : 6.0
Plugin version : 2.2.0
CC:  @jeffpaul @faisal-alvi

[2022-04-20 09:49] #108 closed, assigned to ajmaurya99

[2022-04-20 13:01] vikrampm1 opened #111 "Setup Cypress for E2E testing"
**Is your enhancement related to a problem? Please describe.**

See overall concept in the [OSBP guide](https://10up.github.io/Open-Source-Best-Practices/testing/#e2e-testing) and example setups on [Simple Podcasting](https://github.com/10up/simple-podcasting), [Restricted Site Access](https://github.com/10up/restricted-site-access), and https://github.com/10up/ElasticPress/pull/2446.

**Describe

[2022-04-25 09:18] #106 closed, assigned to faisal-alvi

[2022-04-26 06:49] faisal-alvi commented on #104
Closing after #111

[2022-04-26 06:49] #104 closed, assigned to nobody

[2022-04-27 06:38] #78 closed, assigned to mehulkaklotar

[2022-05-03 15:33] thefrosty opened #116 "Incorecct Location of admin.js"
### Describe the bug

Looking at the GitHub source, `/assets/js/admin.js` exists, but in the trunk of wp.org: https://plugins.svn.wordpress.org/simple-local-avatars/trunk/

See https://github.com/10up/simple-local-avatars/blob/develop/includes/class-simple-local-avatars.php#L1189

So getting a 404 on all admin pages. Also, shouldn't this only be loaded on the settings page too?

**Looks like a dis

[2022-05-03 18:47] jeffpaul commented on #116
Possibly related to https://wordpress.org/support/topic/404-error-in-wordpress-admin/#post-15613085

[2022-05-06 01:47] #116 closed, assigned to faisal-alvi

[2022-05-09 07:06] faisal-alvi opened #121 "Release version 2.4.0"
### Is your enhancement related to a problem? Please describe.

This issue is for tracking changes for the 2.4.0 release. Target release date: **TBD - Mid May 2022**.

### [Release steps](https://github.com/10up/simple-local-avatars/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/2.4.0` for your changes.
- [x] Version b

[2022-05-09 07:13] alireza-salehi opened #123 "HTTP_REFERER is null and causing php warning"
### Describe the bug

PHP Warning:  Undefined array key "HTTP_REFERER" in wp-content/plugins/simple-local-avatars/includes/class-simple-local-avatars.php on line 83

Version 2.3.0

### Steps to Reproduce

$_SERVER['HTTP_REFERER'] is not set and cause php warning getting WordPress log full of such warnings:
PHP Warning:  Undefined array key "HTTP_REFERER" in wp-content/plugins/simple-local-avatars/

[2022-05-09 07:33] vladolaru opened #124 "Wrong avatar URLs for multisite network configured avatars"
### Describe the bug

When local avatars are shared and configured at the network level, the avatar URLs used on the frontend are broken. They end up with the site URL prepended to the absolute path of the avatar thumbnail.

This only happens for non-standard thumbnail sizes (e.g. `100`). Standard sizes (e.g. `96`) work fine.

### Steps to Reproduce

1. Activate the plugin network-wide and activat

[2022-05-10 05:47] #121 closed, assigned to faisal-alvi

[2022-05-10 09:29] faisal-alvi commented on #123
Related: https://wordpress.org/support/topic/undefined-array-key-http_referer/

[2022-05-10 10:38] faisal-alvi commented on #78
@worldsdream FYI - this feature is now [released](https://wordpress.org/plugins/simple-local-avatars/) with 2.4.0.

[2022-05-10 12:09] worldsdream commented on #78
@faisal-alvi

Glad to see that the feature is added.
I am going to install the plugin and try the feature.

[2022-05-10 14:37] dkotter opened #126 "Ensure alt text is output when the avatar image is output"
### Describe the bug

If an author has a local avatar set and the image used for that avatar has custom alt text set, it doesn't appear that we ever use that alt text (see [this report](https://wordpress.org/support/topic/images-dont-get-alt-text)). WordPress already supports outputting the alt text on the avatar image tag if that exists, so we just need to ensure that if someone has a local avata

[2022-05-13 15:48] dkotter opened #128 "Crop changes: skip cropping; allow non-square crops"
### Is your enhancement related to a problem? Please describe.

In #65 it was requested that we add the ability to choose how an image is cropped (implemented in #83). But there are times when someone uploads an image that is the exact size they need and they should be able to bypass the cropping. Right now, the only option you have is to choose a crop.

I think ideal here would be to have a a `Sk

[2022-05-16 09:06] #124 closed, assigned to vladolaru

[2022-05-17 13:34] #126 closed, assigned to dkotter

[2022-05-18 00:21] #123 closed, assigned to nobody

[2022-05-18 13:11] faisal-alvi commented on #99
Closing the issue, will consider it later if we get more reports. Please feel free to re-open if required.

[2022-05-18 13:11] #99 closed, assigned to faisal-alvi

[2022-05-19 18:03] #128 closed, assigned to faisal-alvi

[2022-05-23 16:22] #86 closed, assigned to dkotter

[2022-05-23 16:31] jeffpaul commented on #100
@ajmaurya99 @faisal-alvi curious what happens here in the [Site Logo block](https://github.com/WordPress/gutenberg/blob/aaa680d11e462730a5a521026b75a45c5c0f7f8b/docs/reference-guides/core-blocks.md#site-logo)?

[2022-05-24 10:53] faisal-alvi commented on #100
@jeffpaul Site Logo block does not offer a crop feature **inside the media library popup**. It simply allows to choose an image, and the crop is performed like this:

![sla-100-2](https://user-images.githubusercontent.com/25176325/170018550-8d9e7335-ecf4-4068-9048-1616e907df96.gif)

[2022-05-24 14:42] jeffpaul commented on #100
Interesting that the Site Logo block does provide options to crop to a square and other aspect ratios.  We don't need to get too fancy in handling this in the media library popup, but even a basic option to crop as square or freeform will probably suffice?

[2022-05-25 05:40] faisal-alvi opened #131 "Add: Crop area options: Square, Freeform"
### Is your enhancement related to a problem? Please describe.

* The crop feature was introduced in #83 with forced Square shape selection.
* Later, a "Skip crop" button and "Freeform" shape are added in #130 but now the Square shape selection is removed.
* So it is discussed from https://github.com/10up/simple-local-avatars/pull/130#issuecomment-1132219294 that we should allow users to crop in a

[2022-05-25 05:42] faisal-alvi commented on #100
@jeffpaul Yes, we should provide (initially) 2 options: square and freeform. @cadic has already provided a suggestion on it in https://github.com/10up/simple-local-avatars/pull/130#issuecomment-1133242447, I will look into it. However, we need a design discussion, once I check the feasibility.

Created a separate ticket #131 to discuss this.

[2022-05-25 15:31] jeffpaul commented on #131
Initial thought is left aligned buttons for `Square Crop` (default) and `Freeform Crop`, though maybe they're not buttons so much as a left/right toggle for square vs. freeform crop since it will be one-or-the-other?

[2022-05-30 10:08] #111 closed, assigned to faisal-alvi

[2022-06-03 09:20] faisal-alvi commented on #131
@dinhtungdu as discussed in the meeting, your point is that allowing a "freeform" crop does not make sense/worth because the end result of the avatar being loaded at FE is also cropped by the [WordPress](https://developer.wordpress.org/reference/functions/get_avatar/). So should we stick to the "strict square" selection?

Even setting the avatar with the "freeform" selection:

![image](https://use

[2022-06-06 04:08] dinhtungdu commented on #131
@faisal-alvi you said it correctly! Freeform cropping creates more confusion than it solves IMO. If the final avatar displayed on the front end is still a square one. Even if we can hack it by storing the free-form cropped version in the user metadata, we still have a problem with the output HTML of the `get_avatar()` function, which set both `width` and `height` to the same value for the `<img>`

[2022-06-10 10:21] faisal-alvi commented on #131
@dkotter any thoughts on Tung's ^comment?

[2022-06-10 10:39] dinhtungdu commented on #131
We can also try extending the functionality of the `get_avatar` function (maybe through filters). But I'm wondering how free-form avatars works with themes and other plugins, where a square avatar is generally expected.

[2022-06-10 14:53] dkotter commented on #131
So `get_avatar` does allow you to have different sizes for height and width (through the `$args` attribute) but most common use cases are probably just squares. My suggestion would be to remove the freeform crop ability and we can always consider that in the future if we get more user requests. I think the `Skip cropping` feature solves the main issue we had

[2022-06-10 18:08] dinhtungdu commented on #131
I missed the `$args` parameter. Thanks for pointing this out!

Looking at the source, we can pass the width and height in pixel through the `$args` parameter, but for non-cropping avatars, we don't know the ratio, so width and height may not help here. Because we filter the avatar data, I'm thinking about checking if an avatar is free-form cropped and then setting the height to `auto` for them to

[2022-06-15 02:31] dinhtungdu commented on #131
After testing against the current WordPress version and block themes, here are some additional observations:
- The cropped avatar is saved as the `full` size in the user metadata.
- Simple Local Avatars doesn't support retrieving the full-size avatar, though we can use `get_user_meta()` to get the avatar data.
- Comment Query Loop block only supports square avatar.

I agree with this direction. We

[2022-06-17 11:48] faisal-alvi opened #135 "Re-add "Square" crop and remove "Freeform""
### Describe the bug

As a conclusion of the following discussions,
* https://github.com/10up/simple-local-avatars/pull/130#issuecomment-1132219294
* And from https://github.com/10up/simple-local-avatars/issues/131#issuecomment-1145771123 to https://github.com/10up/simple-local-avatars/issues/131#issuecomment-1155913693

It is concluded that we should remove the freeform crop ability (and re-add t

[2022-06-17 11:49] faisal-alvi commented on #131
Closing after #135

[2022-06-17 11:49] #131 closed, assigned to nobody

[2022-06-17 15:38] faisal-alvi commented on #131
By the way, thanks for going in-depth and posting your research, great efforts @dinhtungdu

[2022-06-20 11:33] faisal-alvi opened #137 "Release version 2.5.0"
This issue is for tracking changes for the 2.5.0 release. Target release date: **TBD - Late June 2022 or Early July 2022**.

## Pre-release steps
- [x] Make sure the #136 is merged/closed.

### [Release steps](https://github.com/10up/simple-local-avatars/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/2.5.0` for your ch

[2022-06-22 23:39] #135 closed, assigned to nobody

[2022-06-23 21:10] jeffpaul commented on #137
@faisal-alvi looks like you've got some nice additions to the release instructions here, would be great to update in https://github.com/10up/simple-local-avatars/blob/develop/CONTRIBUTING.md#release-instructions

[2022-06-24 01:02] #137 closed, assigned to faisal-alvi

[2022-06-24 05:36] faisal-alvi commented on #137
Thanks, updated in #139.

[2022-07-14 15:10] vikrampm1 opened #140 "Bump WordPress and PHP minimums"
Bump WP & PHP Minimums to the following

- [x] WordPress to 5.7
- [x] PHP to 7.4
- [x] Remove any no-longer-needed conditional code for older version support.
- [x] Take a look at adjusting our testing matrices, if applicable.
- [x] Bump the minimums in plugin documentation and header fields.

[2022-07-19 05:58] faisal-alvi opened #141 "An error occurred cropping the image."
### Describe the bug

A new bug was [reported](https://wordpress.org/support/topic/an-error-occurred-cropping-the-image/) on the support forum.

I have tried disabling all plug-ins, but it still gives the same error.
Any ideas, thanks.

Another user:

### Steps to Reproduce

Try to crop the image as an author or editor. It will show an error and the images won't be cropped.

### Screenshots, scree

[2022-07-19 06:00] faisal-alvi commented on #141
Update: Internal discussion with @ajmaurya99: https://10up.slack.com/archives/CG6QB7HEU/p1657221871321319

[2022-07-28 09:13] kovshenin opened #144 "Bug: Composer package not functional since 2.3.0"
### Describe the bug

Hello! Looks like version 2.3.0 and upwards no longer bundles built/dist files, which makes the Composer package not usable without an additional build/install step, for which pulling down the dev dependencies would be required.

Would it be possible to include the dist files when new versions are tagged, similar to how https://github.com/10up/ElasticPress/issues/2727 was add

[2022-08-22 08:17] #140 closed, assigned to faisal-alvi

[2022-08-23 17:48] zamanq commented on #141
@jeffpaul Alright, did some digging. Looks like the image cropping is handled by core customize-control script which has the action "crop-image" and only users with admin capabilities can access customizer related settings. FYI: [Roles & Caps](https://wordpress.org/support/article/roles-and-capabilities/)

So in our plugin we have nothing that prevents any editor or author to crop the avatar, it's

[2022-08-24 06:10] #144 closed, assigned to faisal-alvi

[2022-08-26 20:31] dkotter opened #146 "Ensure alt text is output when using a default avatar"
### Describe the bug

Similar to the issue reported in #126 (and fixed in #127), it was [reported](https://wordpress.org/support/topic/images-dont-get-alt-text/#post-15933734) that if you're using a default avatar, that still won't get alt text.

### Steps to Reproduce

1. With Simple Local Avatars active, under the Discussion settings, ensure avatars are turned on and choose a default avatar to u

[2022-08-29 14:13] #146 closed, assigned to dkotter

[2022-08-30 04:47] faisal-alvi commented on #141
@zamanq do you think we should completely remove the crop feature (inherited from customizer) as this is preventing non-admins to crop images And replace it with another crop tool? (_note: we'll create a separate ticket, just asking for your opinion_)
cc: @jeffpaul

[2022-08-30 05:01] zamanq commented on #141
@faisal-alvi Having the crop feature is useful for people when setting up their avatars because it's the personalization feature that they would expect to have in their profile page. So completely removing the crop feature may not be a good idea.

Instead we could introduce a custom cropping feature using third-party library that goes well in par with WordPress and that could be a better solution.

[2022-08-31 11:55] t-lock opened #148 "Add hooks for "avatar updated" and "avatar deleted", to make SLA more "pluggable" in the WP ecosystem."
### Is your enhancement related to a problem? Please describe.

I have been using this plugin for awhile and love it's functionality. However, an issue came up recently when I was trying to share the local avatar with an outside service that sits next to Wordpress in our larger application context.

Specifically, I needed to share this avatar with the remote service whenever it changed, or when it

[2022-09-05 06:17] faisal-alvi commented on #141
@jeffpaul Should we publish a new release (2.6.0) this month and tackle this "new crop tool" enhancement in a separate ticket and plan it for the next release (2.7.0)?

(Optional) We can also remove the existing crop feature with 2.6.0 (with a note that it was only working for admin roles).

Please share your thoughts.

[2022-09-06 14:38] jeffpaul commented on #141
@faisal-alvi I think it's fine to keep as-is for now and can adjust for all roles with the new approach in the next release

[2022-09-06 19:51] #148 closed, assigned to t-lock

[2022-09-07 05:52] faisal-alvi opened #150 "Alternate Cropping Solution"
### Is your enhancement related to a problem? Please describe.

As per discussion [here](https://github.com/10up/simple-local-avatars/issues/141#issuecomment-1224456099), we have used core's customize-control script to crop images which are only working for users with admin capabilities because only they can access customizer settings.

It was originally added in #83. It is now decided to remove i

[2022-09-07 05:52] faisal-alvi commented on #141
Closing after #150

[2022-09-07 05:52] #141 closed, assigned to nobody

[2022-09-12 14:21] faisal-alvi opened #151 "Release 2.6.0"
This issue is for tracking changes for the 2.6.0 release. Target release date: 13 September 2022.

- [x] Branch: Starting from `develop`, cut a release branch named `release/2.6.0` for your changes.
- [x] Version bump: Bump the version number in `package.json`, `readme.txt`, and `simple-local-avatars.php` if it does not already reflect the version being released.  Update both the plugin "Version:"

[2022-09-13 06:05] #151 closed, assigned to faisal-alvi

[2022-10-07 09:39] lllopo opened #157 "The plugin does not respect the user profile language setting in the backend"
### Describe the bug

The plugin does not respect the user profile language setting in the backend.

### Steps to Reproduce

1. Set the site language to language A
2. Set the, let's say Administrator language in his profile to language B
3. Login as the Administrator in the backend and go to plugin settings.

What happens: the plugin settings are displayed in language A
Expected behavior: the plug

[2022-10-07 09:41] lllopo commented on #157
Same goes for the added settings in the "Discussion" section.

[2022-10-07 15:57] jeffpaul commented on #157
@lllopo is there a translation on translate.wordpress.org available for language B?

[2022-10-07 21:05] lllopo commented on #157
@jeffpaul Most certainly yes, since my profile language (or so-called language B) is the default Wordpress English. The site language is Dutch and unfortunately the whole admin shows in English (as per my profile preferences) bar the Simple Local Avatar settings which show in Dutch (also one more plugin that has the same problem, but that's irrelevant).

[2022-10-07 21:08] lllopo commented on #157
@jeffpaul I'm the site technical administrator, but I don't speak Dutch. As you can imagine - it is not just a cosmetical annoyance, it is quite a problem for me to do configurations while settings show up in Dutch.

[2022-10-17 10:55] faisal-alvi opened #158 "Add a GH Actions summary"
### Is your enhancement related to a problem? Please describe.

Update the plugin to use the GH Actions Report summary used in https://github.com/10up/cypress-wp-utils/pull/63. It's a very nice presentation of the test results.

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-16 16:45] faisal-alvi commented on #157
I have tested and I was able to regenerate this issue, it's a weird behavior - as IMO, it should be handled by the WordPress core itself, or perhaps I might be missing something.

[2022-11-16 17:06] github-actions[bot] opened #161 "The plugin hasn't been tested with the latest version of WordPress"
There is a new WordPress version that the plugin hasn't been tested with. Please test it and then change the "Tested up to" field in the plugin readme.

**Tested up to:** 6.0
**Latest version:** 6.1

This issue will be closed automatically when the versions match.

[2022-11-17 00:27] peterwilsoncc opened #163 "Enable PHPCS installer plugin to run."
### Is your enhancement related to a problem? Please describe.

Composer v2.2 includes a new security feature requiring developers [opt-in to running plugins.](https://getcomposer.org/doc/06-config.md#allow-plugins)

This should be added to the composer config file for the phpcs installer, `dealerdirect/phpcodesniffer-composer-installer`

### Designs

_No response_

### Describe alternatives you'v

[2022-11-17 02:35] #163 closed, assigned to nobody

[2022-11-17 23:15] #161 closed, assigned to faisal-alvi

[2022-11-18 17:42] dkotter commented on #157
@faisal-alvi All right, I believe I have this one figured out. In doing some step through debugging, was seeing that our translations are being loaded prior to the function `wp_get_current_user` being available. This means we always end up using the site language translation files instead of the individual user's language.

This stirred a memory and I remembered we had a similar issue reported on

[2022-11-18 19:37] lllopo commented on #157
@dkotter This is probably the case. I have an even crazier situation. I'm writing a plugin and wanted to check for some dependencies. So, I do `get_plugin_data` when my plugin is loading. turns out that it calls `get_user_locale` at some point and at that stage (so before plugins loaded) `wp_get_current_user` is not present and the wrong locale is returned. Now the crazy part - it seems that not o

[2022-11-18 21:43] dkotter commented on #157
Yeah, from what I found, the first time translatable strings are found for a specific text domain, that information is loaded into a global variable. Anytime additional strings are found in that same text domain, it doesn't rebuild that information it just uses what's already in that global variable. I'm sure this helps significantly with performance but what that does mean is if you have strings

[2022-11-19 09:01] lllopo commented on #157
@dkotter Yes, I got to the same conclusion. So now I've offset all of the bootstrapping of my plugin to `plugins_loaded` with prio 1. Not sure if it is a good solution but works for me - do nothing when plugin is read, just configure as much as possible and then kick the actual logic when all plugins are loaded. Had to use prio 1, though as I have some hooks on `plugins _loaded` within my plugin i

[2022-11-28 06:31] #150 closed, assigned to jayedul